<div class="hidden-md hidden-xs navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="pull-left" href="#" style="margin-top:5px;">
        <img src="img\icon.png" width="20%">
        <span>HARDCRAFT</span>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-ex-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#">Daftar</a>
        </li>
        <li>
          <a href="#">Masuk</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="cover">
  <div class="navbar">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><span>Brand</span></a>
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active">
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Contacts</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="background-image-fixed cover-image" style="background-image : url('img/headeraquare.jpg')"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-4 text-right">
        <div class="judul">PRODUK PILIHAN DARI TANGAN PENGERAJIN INDONESIA</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 text-center">
        <h3 class="">Belanja Langsung dari pengerajin terbaik Indonesia</h3>
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <div class="col-sm-12 input-group">
              <input type="text" class="form-control" placeholder="Cari Produk">

            </div>
          </div>
        </form>
        <br>
        <br>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center">
        <img src="img/monitor.png" width="10%">
        <h3>PEMESANAN ONLINE</h3>
        <p>Membeli produk lokal berkualitas dapat dilakukan dimana saja</p>
      </div>
      <div class="col-md-4 text-center">
        <img src="img/shopping-cart.png" width="10%">
        <h3>KEMUDAHAN TRANSAKSI</h3>
        <p>Transaksi dapat dilakukan dengan beberapa cara</p>
      </div>
      <div class="col-md-4 text-center">
        <img src="img/favorites	.png" width="10%">
        <h3>KUALITAS TERBAIK</h3>
        <p>Berkerja sama dengan pengerajin yang ahli di bidangnya</p>
      </div>
    </div>
  </div>
</div>
<div class="section section2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center text-muted judul2">Material</h1>
        <h1 class="text-center judul3">TERBAIK DI HARDCRAFT</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 card">
        <img src="img\bambu.jpg" class="img-responsive img-rounded imgbahan bahanimg">
        <h3 class="judul3 text-center">Bambu</h3>
        <p class="text-center">Bambu adalah material alam lokal Indonesia yang sanagt kuat dan dapat
          dijadikan berbagai macam produk</p>
      </div>
      <div class="col-md-3 card">
        <img src="img\kulit.jpg" class="img-responsive img-rounded bahanimg">
        <h3 class="judul3 text-center">Kulit</h3>
        <p class="text-center">Kulit adalah material yang sering digunakan dalam berbgai jenis produk,
          salah satunya sepatu dan dompet</p>
      </div>
      <div class="col-md-3 card">
        <img src="img\logam.jpg" class="img-responsive img-rounded bahanimg">
        <h3 class="judul3 text-center">Logam</h3>
        <p class="text-center">Material logam banyak tersedia di Indonesia, dan sering digunakan pada
          produk cincin ,kalung dang anting</p>
      </div>
      <div class="col-md-3 card">
        <img src="img\kayu.jpg" class="img-responsive img-rounded bahanimg">
        <h3 class="judul3 text-center">Kayu</h3>
        <p class="text-center">Material kayu sangant melimpah di Indonesia, material ini sudah menjadi
          material wajib dalam pembuatan furnitur dan produk-produk lainnya</p>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="img\depan.jpg" class="img-responsive">
      </div>
      <div class="col-md-3">
        <img src="img\front.png" class="img-responsive" style="height:auto">
        <br>
        <img src="img\3.jpg" class="img-responsive">
      </div>
      <div class="col-md-3 ">
        <div class="cardyelow">
          <h1 class="text-center">Jam Tangan</h1>
          <br>
          <br>
          <h3 class="text-center">
            <u>Belanja</u>
          </h3>
        </div>
        <img src="img\quailcup.jpg" class="img-responsive">
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <img src="img\cincin.jpg" class="img-responsive">
      </div>
      <div class="col-md-3">
        <img src="img\1.jpg" class="img-responsive">
      </div>
      <div class="col-md-3 cardyelow">
        <h1 class="text-center">Aksesoris</h1>
        <h3 class="text-center">
          <br>
          <br>
          <u>Belanja</u>
        </h3>
      </div>
      <div class="col-md-3">
        <img src="img\2.jpg" class="img-responsive">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3 cardyelow">
        <h1 class="text-center">Tas</h1>
        <br>
        <br>
        <h3 class="text-center">
          <u>Belanja</u>
        </h3>
      </div>
      <div class="col-md-6">
        <img class="img-responsive" src="img\5.jpg">
      </div>
      <div class="col-md-3">
        <img src="img\4.jpg" class="img-responsive">
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Produk Terlaris</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <img src="img\with hand.png" class="img-responsive img-rounded">
        <h2>Jam Tangan Kayu</h2>
        <p>Rp. 240.000</p>
      </div>
      <div class="col-md-3">
        <img src="img\1.jpg" class="img-responsive img-rounded">
        <h2>Smartphone Case</h2>
        <p>Rp. 240.000</p>
      </div>
      <div class="col-md-3">
        <img src="img\a.jpg" class="img-responsive img-rounded">
        <h2>Anting Kayu</h2>
        <p>Rp. 240.000</p>
      </div>
      <div class="col-md-3">
        <img src="img\b.jpg" class="img-responsive img-rounded">
        <h2>Anting Kayu</h2>
        <p>Rp. 240.000</p>
      </div>
    </div>
  </div>
</div>
<footer class="section section-primary">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-md-6">
            <h3>Heading</h3>
            <li contenteditable="true">Apa itu HARDCRAFT?</li>
            <li contenteditable="true">Hubungi Kami</li>
          </div>
          <div class="col-md-6">
            <h3>Beli</h3>
            <li contenteditable="true">Belanja di HARDCRAFT</li>
            <li contenteditable="true">Proses Pembayaran</li>
            <li contenteditable="true">Jelajahi Produk</li>
            <li contenteditable="true">Penukaran Produk</li>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <p class="text-info text-right">
          <br>
          <br>
        </p>
        <div class="row">
          <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
            <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
            <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
            <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
            <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 hidden-xs text-right">
            <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
            <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
            <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
